* {padding: 0; margin: 0}


#backgradient {
  position: absolute;
  width: 2000px;
  height: 2000px;
}

#container {
  margin: 20px;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 75px;
  top: 75px;
  z-index: 1;
}
